---
# defaults file for gitea-ocp
_gitea_state: present
_gitea_namespace: gitea
_gitea_name: gitea

_gitea_ssl: False
_gitea_port: 3000
_gitea_postgresql_database_name: postgresql
_gitea_postgresql_port: 5432
_gitea_postgresql_service_name: postgresql
_gitea_postgresql_user: postgresql
_gitea_postgresql_password: postgresql
_gitea_volume_size: 1Gi
_gitea_volume_storage_class: ""
_gitea_memory_request: 1Gi
_gitea_memory_limit: 1Gi
_gitea_cpu_request: 200m
_gitea_cpu_limit: 500m
_gitea_image: quay.io/gpte-devops-automation/gitea
_gitea_image_tag: latest

# If Admin user is specified the Admin User will
# be created. If not, or empty no admin user will be created
# If no password is specified a password with specified length will be created
_gitea_admin_user: opentlc-mgr
_gitea_admin_password: ""
_gitea_admin_password_length: 16
_gitea_admin_email: "opentlc-mgr@open.redhat.com"

# Create users in Gitea. If set to true an Admin user *must* be created.
_gitea_create_users: false
# Format for the users to create. E.g. user1, user2, ...
# When _gitea_user_number=1 specify just the
# user name: e.g. lab-user
_gitea_user_number: 2
_gitea_generate_user_format: "user%d"
_gitea_user_email_domain: example.com
# If no password is specified a password with specified length will be created
_gitea_user_password: openshift
_gitea_user_password_length: 16

# Set up repositories for all created users - also handled
# by the workload, not the operator
_gitea_migrate_repositories: false
_gitea_repositories_list:
- repo: "https://github.com/someuser/thing1"
  name: "thing1"
  private: "true"
- repo: "https://github.com/anotheruser/someotherthing"
  name: "someotherthing"
  private: "false"

# Gitea Settings
_gitea_http_port: 3000
_gitea_ssh_port: 2022
_gitea_disable_ssh: false
_gitea_start_ssh_server: true
_gitea_disable_registration: false
_gitea_enable_captcha: false
_gitea_allow_create_organization: true
_gitea_allow_local_network_migration: false

# Gitea e-mail Setup
_gitea_mailer_enabled: false
_gitea_mailer_from: gitea@mydomain.com
_gitea_mailer_type: smtp
_gitea_mailer_host: mail.mydomain.com:587
_gitea_mailer_tls: true
_gitea_mailer_user: gitea@mydomain.com
_gitea_mailer_password: password
_gitea_mailer_helo_hostname: ""

_gitea_register_email_confirm: false
_gitea_enable_notify_mail: false

# Set to a valid route for the cluster to make a nicer route than svc-project.apps. Leave empty for default route
_gitea_route: ""

# Internal variables. Do not change
# ---------------------------------
# Actual Gitea route
_gitea_actual_route_url: ""
_gitea_actual_route_hostname: ""

# Actual Gitea admin password
_gitea_actual_admin_password: ""

# Gitea user name (for use in loops)
_gitea_user_name: ""

# Actual Gitea user password
_gitea_actual_user_password: ""
