---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _gitea_name }}"
  namespace: "{{ _gitea_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ _gitea_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ _gitea_name }}"
{% if _gitea_config_map_name | default('') | length == 0 %}
      annotations:
        configmap/checksum: "{{ lookup('template', 'configmap.yaml.j2') | hash('sha256') }}"
{% endif %}
    spec:
      serviceAccountName: "{{ _gitea_name }}"
      containers:
      - name: gitea
        image: "{{ _gitea_image }}:{{ _gitea_image_tag }}"
        imagePullPolicy: "{{ _gitea_image_pull_policy }}"
        ports:
        - containerPort: 3000
          protocol: TCP
        env:
        - name: GITEA__database__PASSWD
          valueFrom:
            secretKeyRef:
              name: "{{ _gitea_postgresql_service_name }}"
              key: database-password
        startupProbe:
          httpGet:
            path: /api/healthz
            port: 3000
            scheme: HTTP
          periodSeconds: 10
          failureThreshold: 30
        readinessProbe:
          httpGet:
            path: /api/healthz
            port: 3000
            scheme: HTTP
          periodSeconds: 20
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /api/healthz
            port: 3000
            scheme: HTTP
          periodSeconds: 10
          failureThreshold: 3
        resources:
          requests:
            cpu: "{{ _gitea_cpu_request }}"
            memory: "{{ _gitea_memory_request }}"
          limits:
            cpu: "{{ _gitea_cpu_limit }}"
            memory: "{{ _gitea_memory_limit }}"
        volumeMounts:
        - name: gitea-data
          mountPath: /gitea-data
        - name: gitea-config
          mountPath: /home/gitea/conf-import
      volumes:
      - name: gitea-data
        persistentVolumeClaim:
          claimName: "{{ _gitea_name }}-pvc"
      - name: gitea-config
        configMap:
{% if _gitea_config_map_name | default('') | length > 0 %}
          name: "{{ _gitea_config_map_name }}"
{% else %}
          name: "{{ _gitea_name }}-config"
{% endif %}
          items:
          - key: app.ini
            path: app.ini