---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ _postgresql_name }}"
  namespace: "{{ _postgresql_namespace }}"
data:
  database-name: "{{ _postgresql_database_name | b64encode }}"
  database-user: "{{ _postgresql_user | b64encode }}"
  database-password: "{{ _postgresql_password | b64encode }}"
