apiVersion: v1
kind: Secret
metadata:
  name: "{{_postgresql_name}}"
  namespace: "{{_postgresql_namespace}}"
stringData:
  database-name: "{{_postgresql_database_name}}"
  database-user: "{{_postgresql_user}}"
  database-password: "{{_postgresql_password}}"
