apiVersion: v1
kind: Service
metadata:
  name: "{{_postgresql_name}}"
  namespace: "{{_postgresql_namespace}}"
spec:
  ports:
  - name: postgresql
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    name: "{{ _postgresql_name }}"
  sessionAffinity: None
  type: ClusterIP
